.dropzone {
  border: 2px dashed #edc542;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto; /* Añade margen a la dropzone */
  max-width: 700px; /* Establece un ancho máximo */
}

.dropzone p {
  color: #333;
  font-size: 16px;
}

.dropzone:hover {
  background-color: #f1f1f1;
}

/* Estado arrastrando */
.dropzone.isDragActive {
  background-color: #fff3c4; 
}

/* Previsualización de archivo */
.file-preview {
  margin-top: 20px;
  text-align: center;
}

/* Contenedor relativo para colocar la X encima */
.file-preview-image-container {
  position: relative;
  display: inline-block; /* Para que la X quede sobre la imagen */
}

/* Imagen */
.preview-image {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: block;
}

/* Botón para quitar la imagen */
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #edc542;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 0.95; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  background-color: #d1a735;
}

/* Botones */
button[type="button"] {
  background-color: #edc542;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

button[type="button"]:hover {
  background-color: #0056b3;
}

/* Inputs de texto (si los usas) */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Contenedor de éxito */
.success-container {
  text-align: center;
}

.icon-success {
  font-size: 2rem;
  color: green;
  margin-top: 10px;
}

/* Imagen ya subida */
.uploaded-image {
  max-width: 100px;
  margin-top: 10px;
}

/* Clases auxiliares */
.input-f {
  margin: 10px auto; 
  max-width: 500px;  
}

.title {
  text-align: center;
  color: #7a5c61; 
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}
